
<div class="container" id="header" ng-show="check()==2 ">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span><span
                            class="icon-bar"></span><span class="glyphicon glyphicon-chevron-down"></span><span
                            class="icon-bar"></span>
                    </button>
                    <a href="#/newsFeed"><img class="logo" src="imgs\logo.jpg"></a>
                </div>

                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="page in navPagesList" ng-click="select($index)"
                            ng-class="{active: $index===selectedIndex}"><a
                                href="#/{{page.target}}" data-toggle="collapse" data-target=".nav-collapse"
                                ng-show="(userProfile.data.userType == page.show) || (page.show == 0)">{{page.name}}</a></li>





                    </ul>






                    <div ng-app='myApp'>

                        <form class="navbar-form navbar-left" role="search" ng-controller="searchSeekersCtrl">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" ng-model="search">
                            </div>
                            <a href="#/search" type="submit" class="btn btn-info" ng-click="searchForSeekersByName(search)">Search</a>




                        </form>
                    </div>




                    <ul class="nav navbar-nav pull-right ">

                        <li><a ng-href="#/companies/{{companyID}}">
                            <h5 style="margin-top: 3px;" class="text-left text-info ">
                                {{companyName}}</h5>
                        </a></li>

                        <li ng-controller="loginCtrl"><button class="btn btn-mini btn-warning"
                                                              style="margin-top: 6px;" type="button"
                                                              ng-click="logoutProvider()">Logout</button></li>

                    </ul>

                </div>

            </nav>
        </div>
    </div>



</div>



<script>


    $('.whatever').click(function(event){
        event.preventDefault();
    });
</script>
