<p>Sign in with your LinkedIn account?</p>
<div style="margin-left:6px; "><script type="in/Login" ></script></div>
<!--<div class="jumbotron" ng-show="userProfile.data.loggedIn==undefined && !userProfile.data.loggedIn">-->



<div>
    <button  class="btn btn-danger btn-sm" rel="publisher" ng-click="toggle()">
        Login As JobProvider
    </button>
</div>

<modal title="Login As JobProvider" visible="showModal">
    <div class="form-group">



        <div class="form-group">
            <label >Email address</label>
            <input type="email" class="form-control" nd-model="EmailP"placeholder="Enter email" />
        </div>
        <div class="form-group">
            <label >password</label>
            <input type="password" class="form-control"nd-model="passwordP" placeholder="Enter password" />
        </div>
        <button class="btn btn-primary btn-xs fa fa-edit center-block" ng-click="loginProvider()"> Submit</button>



    </div>
</modal>






<div>
    <button  class="btn btn-danger btn-sm" rel="publisher" ng-click="toggleAccount()">
        Send a message to create new JobProvider account
    </button>
</div>

<modal title="Send a message to create new JobProvider account" visible="showModalAccount">
    <div class="form-group">



        <div class="form-group">
            <label >Email address</label>
            <input type="email" class="form-control"ng-model="email"  placeholder="Enter email" />
        </div>
        <div class="form-group">
            <label >content</label>
            <textarea ng-model="content" class="form-control" rows="7" ></textarea>

        </div>
        <button class="btn btn-default"ng-click="sendMessageForP()">Send</button>



    </div>
</modal>

<!--</div>-->


