<style>
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    body{
        background:#f1f1f1;
    }
    .container{
        width:330px;
        margin:10px auto
    }
    .spinner, .border{
        border-top: 50px solid #0A5BC4;
        border-left: 50px solid #00A600;
        border-right: 50px solid #DC572E;
        border-bottom: 50px solid #BF1E4B;
        height:0;
        width:0;
        border-radius: 50px;
        -webkit-animation: spin 1s infinite linear;
        -moz-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
        margin-right:10px;/*Just 4 spacing*/
        display:inline-block;/*Can also be removed*/
    }
    .spinner:last-child{
        margin:0;
    }
    .border{
        border-top: 10px solid #0A5BC4;
        border-left: 10px solid #00A600;
        border-right: 10px solid #DC572E;
        border-bottom: 10px solid #BF1E4B;
        height:80px;
        width:80px;
        -webkit-animation-name: spinback;
        -webkit-animation-duration: .5s;
        -moz-animation-name: spinback;
        -moz-animation-duration: .5s;
        animation-name: spinback;
        animation-duration: .5s;
        animation-name: spinback;
        animation-duration: .5s;
    }
    .arrow{
        -webkit-animation-duration: 6s;
        -moz-animation-duration: 6s;
        animation-duration: 6s;
        animation-duration: 6s;
        height:80px;
        width:80px;
        border:10px solid black;
        border-top: 10px solid transparent;
        position:relative;

    }
    .arrow1{
        width: 0;
        height: 0;
        border-top: 7px solid black;
        border-left: 7px solid transparent;
        position:absolute;
        top:5px;
        left:4px;
    }
    .arrow2{
        width: 0;
        height: 0;
        border-bottom: 7px solid white;
        border-left: 7px solid transparent;
        position:absolute;
        top:4px;
        left:68px;
    }
    @keyframes spin{
        100%{

            -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
        }
    }
    @keyframes spinback{
        100%{

            -webkit-transform:rotate(-360deg);
            transform:rotate(-360deg);
        }
    }
    @-webkit-keyframes spin{
        100%{

            -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
        }
    }
    @-webkit-keyframes spinback{
        100%{

            -webkit-transform:rotate(-360deg);
            transform:rotate(-360deg);
        }
    }
    @-moz-keyframes spin{
        100%{

            -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
        }
    }
    @-moz-keyframes spinback{
        100%{

            -webkit-transform:rotate(-360deg);
            transform:rotate(-360deg);
        }
    }
    /* Can be removed */

    header{
        display:blocK;
        width:500px;
        color:#313131;
        margin:20px auto;
        text-align:center;
        font-size:.8em;
        font-family: 'Open Sans', sans-serif;
    }

</style>

<p><button ng-click="showAddPost()" class="btn btn-inverse">Add New Post</button></p>
<center>

    <div ng-controller="addPostCtrl" id="addNewPost">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Write New Post..</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <!-- text input -->
                        <div class="form-group">
                            <input type="text"  ng-model="title" class="form-control" placeholder="Enter Title..."/>
                        </div>


                        <!-- textarea -->
                        <div class="form-group">
                            <textarea ng-model="body" class="form-control" rows="3" placeholder="Enter Body..."></textarea>
                        </div>

                        <div class="box-footer">
                            <button class="btn btn-primary" ng-click="addPost()">Add Post</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</center>



<div class="row">

    <!--Newsfeed-->
    <div class="col-sm-9">


        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->
                <div  ng-repeat="post in posts">
                <ul class="timeline">

                    <!-- timeline time label -->
                         <li class="time-label">
                              <span ng-show="post.jobseeker_id==js_id" class="bg-green">
                                <a href="#/newsfeed/{{post.id}}" style="color: white">This Is Me</a>
                              </span>
                              <span ng-hide="post.jobseeker_id==js_id" class="bg-blue">
                                <a href="#/newsfeed/{{post.id}}" style="color: white">{{post.fullname}}</a>
                              </span>
                         </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li    >
                            <i class="fa fa-comment-o bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> {{post.publish_date}}</span>
                                <h3 class="timeline-header"><a href="#/newsfeed/{{post.id}}">{{post.title}}</a></h3>
                                <div class="timeline-body"  style="white-space: pre-line">
                                    {{post.body}}
                                </div>
                                <div class='timeline-footer'>
                                    <a class="btn btn-primary btn-xs" href="#/newsfeed/{{post.id}}">View Comments</a>
                                    <a class="btn btn-danger btn-xs" ng-show="post.jobseeker_id==js_id" ng-click="deletePost(post.id)">delete</a>
                                </div>
                            </div>
                        </li>




                    <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                    </li>
                </ul>
                    <div>&nbsp</div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <center>

            <button class="center-block btn btn-inverse" ng-click="loadMore()">Load More..</button>

            <div class="container" id="loadMoreSpinner">
                <!--<div class="spinner"></div>-->
                <div class="spinner border"></div>
                <!--<div class="spinner arrow"><div class="arrow1"></div><div class="arrow2"></div></div>-->
            </div>
        </center>

    </div>
    <!--End Newsfeed-->


    <!--Notifications-->
    <div class="col-sm-3" style="position:fixed; right: -2px; height:500px; overflow-x:auto">

        <div ng-controller="addPostCtrl" id="newsfeedContent">

            <!-- Main content -->
            <section class="content">
                <div class="row">

                    <div class="col-md-12">
                        <!-- general form elements disabled -->
                        <div class="box box-warning">
                            <div class="box-header">
                                <h3 class="box-title">Write New Post..</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">

                                <!-- text input -->
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text"  ng-model="title" class="form-control" placeholder="Enter Title..."/>
                                </div>


                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Body</label>
                                    <textarea ng-model="body" class="form-control" rows="7" placeholder="Enter Body..."></textarea>
                                </div>

                                <div class="box-footer">
                                    <button class="btn btn-primary" ng-click="addPost()">Add Post</button>
                                </div>

                            </div>
                        </div>
                    </div>







                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">Quick Example</h3>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <input type="file" id="exampleInputFile">
                                        <p class="help-block">Example block-level help text here.</p>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Check me out
                                        </label>
                                    </div>
                                </div><!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div><!-- /.box -->
                    </div><!--/.col (left) -->
                </div>
            </section>
        </div>




        <center>

            <button class="center-block btn btn-default" ng-click="loadMoreNoti()">Load More..</button>

            <!--<div class="container" id="loadMoreNotiSpinner">-->
                <!--<!--<div class="spinner"></div>-->-->
                <!--<div class="spinner border"></div>-->
                <!--<!--<div class="spinner arrow"><div class="arrow1"></div><div class="arrow2"></div></div>-->-->
            <!--</div>-->
        </center>

    </div>
    <!--End Notifications-->


</div>




