<!--<div class="container">-->
    <!--<div class="alert-success">-->
        <!--<h1>{{title}}</h1>-->
        <!--<p>{{body}}</p>-->
    <!--</div>-->
<!--</div>-->



<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
            <!--<li class="time-label">-->
                  <!--<span class="bg-red">-->
                    <!--10 Feb. 2014-->
                  <!--</span>-->
            <!--</li>-->
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-comment-o bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                    <h3 class="timeline-header"><input type="text" ng-show="(userProfile.jobseekerId ==post.jobseeker_id)" value=" {{title}}"/></h3>
                    <div class="timeline-body">
                        <input type="text" ng-show="(userProfile.jobseekerId ==post.jobseeker_id)"value="{{body}}">
                         <a class="btn btn-danger btn-xs" ng-show="(userProfile.jobseekerId ==post.jobseeker_id)" ng-click="updatePost(post.id)">update</a>
                    </div>
                    <!--<div class='timeline-footer'>-->
                        <!--<a class="btn btn-default btn-xs" ng-click="editPost(post.id)">Edit</a>-->
                        <!--<a class="btn btn-danger btn-xs" ng-click="deletePost(post.id)">delete</a>-->
                    <!--</div>-->
                </div>
            </li>



        </ul>
    </div><!-- /.col -->
</div><!-- /.row -->

