<!--<div class="container">-->
    <!--<div class="alert-success">-->
        <!--<h1>{{title}}</h1>-->
        <!--<p>{{body}}</p>-->
    <!--</div>-->
<!--</div>-->



<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
            <!--<li class="time-label">-->
                  <!--<span class="bg-red">-->
                    <!--10 Feb. 2014-->
                  <!--</span>-->
            <!--</li>-->
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-comment-o bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                    <div ng-show="jobseekerId==!{{jobseeker_id}}">
                        <input type="text"  ng-model="title" class="form-control" placeholder="Enter Title..." disabled/>
                        <input type="text"  ng-model="body" class="form-control" placeholder="Enter Body.." disabled/>
                        <button ng-hide="dis">update</button>
                    </div>

                    <div ng-show="jobseekerId=={{jobseeker_id}}">
                        <input type="text"  ng-model="title" class="form-control" placeholder="Enter Title..." />
                        <input type="text"  ng-model="body" class="form-control" placeholder="Enter Body.." />
                        <button ng-hide="dis">update</button>
                    </div>

    2


                    <!--<div class='timeline-footer'>-->
                        <!--<a class="btn btn-default btn-xs" ng-click="editPost(post.id)">Edit</a>-->
                        <!--<a class="btn btn-danger btn-xs" ng-click="deletePost(post.id)">delete</a>-->
                    <!--</div>-->
                </div>
            </li>



        </ul>
    </div><!-- /.col -->
</div><!-- /.row -->

