<link href="dist/css/messageStyle.css" rel="stylesheet">
<!--View Profile:-->

<!--<input type="text" ng-model="jobSeekerId" placeholder="jobSeekerId">-->
<!--<button   ng-click="viewProfile(); getMessages()" >View Profile</button>-->
<!--<br/>-->

<!--<button ng-click="toggle()">send message</button>-->
<!--<div>-->

    <!--<br> First Name: {{first_name}}</br>-->
    <!--<br> Last Name: {{last_name}}</br>-->
    <!--<br> Email: {{Email}}</br>-->
    <!--<br> Profile Url: {{profileUrl}}</br>-->
    <!--<br> Picture Url: {{pictureUrl}}</br>-->
    <!--<br> Summary: {{summary}}</br>-->
    <!--<br> Location: {{location}}</br>-->
    <!--<br> Industry: {{industry}}</br>-->
    <!--<br> Location: {{location}}</br>-->
    <!--<br> </br>-->
    <!--Skills:-->
    <!--<ul>-->
        <!--<li ng-repeat='skill in skills'>-->
            <!--<br>{{skill}}</br>-->
        <!--</li>-->

    <!--</ul>-->

    <!--Educations:-->
    <!--<ul>-->
        <!--<li ng-repeat='education in educations'>-->
            <!--<br>  {{education}}</br>-->
        <!--</li>-->

    <!--</ul>-->
<!--</div>-->


<!--</div>-->









<link href="dist/css/profile.css" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">

                    <img alt="" src="{{pictureUrl}}"
                         class="img-circle" />
                </div>

                <div class="bottom">
                    <a class="btn btn-primary btn-linkedin btn-sm" href="{{profileUrl}}">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <button  class="btn btn-danger btn-sm" rel="publisher" ng-click="toggle()">
                        Messages
                    </button>

                    <chat title="Chat .." visible="showModal">
                        <div class="chat-box center-block">
                            <div class="header">
                                {{first_name}} {{last_name}}
                            </div>
                            <div class="chat-box center-block">
                                <div class="input-box">
                                    <textarea id="msg_content" ng-model="$parent.content" class="form-control msg_content" rows="2" placeholder="Enter message..."></textarea>

                                </div>
                                <button class="send_msg btn btn-danger sendBtn" ng-click="sendMessage()" >SEND A MESSAGE..</button>
                                <div class="messages">
                                    <ul id="msgs">
                                        <li  ng-repeat='message in messages track by $index'>
                                            <span ng-show="message.from_id==myId" class="left" alt="{{message.sendate}}">{{message.content}}</span>
                                            <span ng-show="message.from_id!=myId" class="right" alt="{{message.sendate}}">{{message.content}}</span>
                                            <div class="clear"></div>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </chat>

                </div>

                <div class="info">
                    <div class="title">
                        <a href="{{profileUrl}}">{{first_name}} {{last_name}}</a>
                    </div>
                    <span class="title">Email: </span><span class="desc">{{Email}}</span><br>
                    <span class="title">Industry: </span><span class="desc">{{industry}}</span><br>
                    <div class="title">Summary </div><div class="desc">{{summary}}</div>
                </div>

                <a class="btn btn-primary btn-linkedin btn-sm" href="{{profileUrl}}">
                    Show More In Linked <i class="fa fa-linkedin"></i>
                </a>


            </div>

        </div>

    </div>
</div>
